@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:slnt,wght@-8,235&display=swap');

div {
    display: flex;
    justify-content: center;
}

main {
    background-color: #000000;
    border-radius: 3%;
    border: 5px solid #000000a3;
    padding: 2%;
    margin-top: 12%;
    box-shadow: 0 0 100px 200px rgba(0, 0, 0, 0.629);
}

main:hover{
    border: 3px double #ea01ff;
    transition: ease-in-out 0.5s;
}

h1 {
    font-family: 'Bitcount Grid Double', monospace, sans-serif;
    font-variation-settings: 'slnt' -8, 'wght' 235;
    font-weight: 235;
    font-style: oblique -8deg;
}